{{ define "content" }}
<div class="container">
    <h1 class="text-center">パスワードリセット</h1>
    {{ if .PasswordResetSuccess }}
    <div class="alert alert-success" role="alert">
        {{ .PasswordResetSuccess }}
    </div>
    {{ end }}
    {{ if .PasswordResetError }}
    <div class="alert alert-danger" role="alert">
        {{ .PasswordResetError }}
    </div>
    {{ end }}
    <p class="text-center">新しいパスワードを入力してください。</p>
    <form action="/reset-password" method="POST">
        <input type="hidden" name="token" value="{{ .token }}">
        <div class="form-group">
            <label for="password">新しいパスワード</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="confirm-password">パスワード確認</label>
            <input type="password" id="confirm-password" name="confirm-password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">リセット</button>
    </form>
</div>
{{ end }}
